<head>
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Comfortaa" />
  <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
</head>
<ion-content [fullscreen]="true">
  <div>
    <h1 class="t1">best</h1>
    <h1 class="t2">friend</h1>
  </div>
  <div style="margin-top: 90px;">
    <ion-item style="--border-style: none;" >
      <ion-input style="display: flex;" label-placement="floating" label="Email" class="input1" type="email"
        fill="outline" placeholder="email.com.br"><ion-icon class="icone"
          name="mail-outline"></ion-icon></ion-input>
    </ion-item>
    <ion-item style="--border-style: none;">
      <ion-input class="input2" label="Senha" type="password" label-placement="floating" fill="outline"
      placeholder="00000000"><ion-icon name="lock-open-outline" class="icone"></ion-icon></ion-input>
    </ion-item>
  </div>
  
  <div id="toggle">
    <ion-toggle></ion-toggle>
    <p class="p3">Lembre-me</p>
  </div>

  <ion-button class="b1" expand="block">Login</ion-button>
  <p>Ainda não tem uma conta?<b><a [routerLink]="['/cadastro']">cadastre-se</a></b></p>
  <div >
  <p class="p2"> Ou logue com</p></div>
  <div id="linha-horizontal"></div><div id="linha-horizontal1"></div>
  <br><br><br>
  <ion-button class="b2" shape="round"> <img width="30px" src="assets/icon/google.png" alt="">Google</ion-button>

</ion-content>