<ion-content [fullscreen]="true">
  <ion-header >
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Comfortaa" />
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
  </ion-header>
      <ion-content>
        <h1>BF</h1>
        <div class="mensagem enviada">
          <div class="texto">Olá! Como você está?</div>
        </div>
        <div class="mensagem recebida">
          <div class="texto">Oi! Estou bem, obrigado por perguntar.</div>
        </div>
        <div class="mensagem enviada">
          <div class="texto">Que bom saber!</div>
        </div>
        <ion-footer >
            <ion-input class="enviar" placeholder="Hoje estou me sentindo melhor...">
              <ion-icon slot="end" name="arrow-forward"></ion-icon>
            </ion-input>
        </ion-footer>
      </ion-content>
