<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Comfortaa" />
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
  </ion-header>
  <div>
    <h1 class="t1">Seu</h1>
    <h1 class="t2">Diário</h1>
  </div>
  <div class="div-butao">
  <ion-button [routerLink]="['/diario-historico']"><ion-icon name="calendar-outline"></ion-icon> </ion-button>
  </div>
  <div style="display: flex; margin-left: 70px; ">
  <ion-icon style="color: #D7F5FF;" name="chevron-back-outline"></ion-icon>
<ion-label  style="margin-top: 10px; color: #D7F5FF" >Domingo/15/09/2024</ion-label>
<ion-icon style="color: #D7F5FF" name="chevron-forward-outline"></ion-icon>  
</div>
<div style="margin-top: -35px;"> 
      <ion-textarea placeholder="Como você esta..." > </ion-textarea>
  </div>

  
</ion-content>
