<ion-content [fullscreen]="true">
  <ion-header >
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Comfortaa" />
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
  </ion-header>
  <h1 class="t1">BF</h1>
  <img src="assets/77a12b1f-90d4-41ff-92d3-e134a081e18c_medium_thumb.jpg"  alt="">
  <h1>perfil</h1>
  <p>seu nome...</p>
  <p>Hoje me sinto:</p>
  <p>triste</p>
  <p id="email">seu email ...</p>
  <ion-button class="b1" expand="block" [routerLink]="['/login']" >Sair</ion-button>

  
</ion-content>
